<.header>
  Search Properties By Address, Owner, or Owner Group
</.header>

<.live_component
  module={CivicsWeb.TransitLive.SearchComponent}
  address_query={@address_query}
  radius_miles={@radius_miles}
  id="search-results"
/>
