<.header>
  Search For Nearby Bus Routes by Address
</.header>

<.live_component
  module={CivicsWeb.TransitLive.SearchComponent}
  address_query={@address_query}
  radius_miles={@radius_miles}
  id="search-results"
/>
